service vendor.usb-gadget-hal /apex/com.android.hardware.usb.gadget.mainline/bin/hw/android.hardware.usb.gadget-service.mainline
    class hal
    user system
    group system shell mtp
    disabled

on property:sys.usb.configfs=2
    enable vendor.usb-gadget-hal

on property:sys.usb.configfs=2 && property:apex.com.android.hardware.usb.gadget.mainline.ready=true
    start vendor.usb-gadget-hal
