#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

service vendor.dlkm_loader_mainline /vendor/bin/dlkm_loader_mainline
    class main
    user root
    group root system
    disabled
    oneshot

on early-init
    # Use ueventd to load firmware
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

    start vendor.dlkm_loader_mainline
