service ts_vkeys /system/bin/ts_vkeys
    user uhid
    group uhid input
    file /dev/kmsg w
    seclabel u:r:vendor_ts_vkeys:s0
    oneshot
    disabled

on property:vendor.ts_vkeys.genvkeys.key_codes=*
    enable ts_vkeys

on property:vendor.ts_vkeys.names=*
    enable ts_vkeys
