service vendor.sensors-mainline /apex/com.android.hardware.sensors.mainline/bin/hw/android.hardware.sensors-service.mainline
    class hal
    user system
    group system input
    rlimit rtprio 10 10

on property:apex.com.android.hardware.sensors.ready=true
    start vendor.sensors-mainline
