on property:apex.com.android.hardware.vibrator.glodroid.ready=true
    start vendor.vibrator-default

service vendor.vibrator-default /apex/com.android.hardware.vibrator.glodroid/bin/hw/android.hardware.vibrator-service.glodroid
    class hal
    user system
    group system input
